.headerbar{
    display: flex;
    justify-content: flex-end;
    background-color: #3b61f0 ;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 15px;
}

.home{
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.icon{
    cursor: pointer;
    transition: 200ms color ease-in-out;
}

.icon:hover{
    color: #5475F1;
}
